@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  block-size: 100%;
  overscroll-behavior: none;
}

body {
  min-block-size: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f5; /* neutral-100 */
  color: #111827;
}

.dark body {
  background-color: #0a0a0f; /* neutral-950 */
  color: #f3f4f6;
}
